@use "../../../theme/_global.scss"as *;
@use "../../../theme/theme.scss"as *;

.field {
  &__container {
    margin-bottom: 32px;
    .text-area,
    input {
      all: unset;
      width: 100%;
      border: 1px solid #DEDEDE;
      min-height: 50px;
      padding: 8px;
      box-sizing: border-box;
      &::placeholder { 
        color: #C3C3C3;
      }
    }
    label {
      margin-bottom: 8px;
      color: $text;
      font-size: 14px;
      letter-spacing: 0;
      line-height: 18px;
    }
  }
  &__error {
    color: $error;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 12px;
  }
  &__checkbox {
    margin-bottom: 32px;
    & input {
      margin-right: 10px;
    }
  }
}

.text-checkbox {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  input {
    min-width: 20px;
  }
  
  div.rich-text {

    margin-top: -6px;
    margin-left: 10px;
    p {
      font-size: 14px;
      letter-spacing: 0;
      line-height: 23.6px;
      color: $text;
      margin-bottom: 0;
    }
  }
}