@use '../../theme/theme.scss'as *;

.button {
  &__container {
    all: unset;
    height: 55px;
    width:fit-content;
    border-radius: 27.5px;
    background-color: $azure;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.fluid {
      width: 100%;
    }
    &.disabled {
      opacity: 0.5;
    }

    a {
      text-decoration: none;
      color: $white;
    }

    span {
      display: flex;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 20px;
      text-align: center;
      color: $white;
      padding: 0px 32px;
      align-items: center;
      svg{
        margin-left: 20px;
        fill: $white;
      }
    }

    &.light{
      background-color: $azureLight;
    }

  }
  @media (min-width: $desktop) {
    &__container {
      &.fluid {
        width: fit-content;
      }
    }
  }
}