// Put the colors for your project
// @import "./node_modules/bootstrap/scss/bootstrap";

$primary: #1B1E60;
$secondary: #3BC6F4;
$text: #131C34;
$textLight: #484554; // used for smaller (bold) pieces of text
$azure: #018AFF; // blue used for button & highlight links
$azureLight: rgba(1,138,255,0.3); // button blue on hover
$white: #ffffff;
$black: #000000;
$darkBlue: #273A59;
$lightGray: #D3D3D3;
$ultralightGray: #f8f8fA;
$middletGray: #9e9e9e;
$error: #DC0000;
 
// break-points
$mobile: 480px;
$tablet: 764px;
$desktop: 1024px;
$large: 1440px;
$maxlarge: 1920;

//var
$gapTitlePage: 120px; // from bottom nav (220px from top)
$gapTitlePageMobile: 60px; // from bottom nav (220px from top)
$maxTextWidth: 896px;
$containerSidePadding: 7.8vw;
$containerSidePaddingTwo: 8.333vw;
$containerSidePaddingMobile: 15px; 
$containermaxWidth: 1440px;
$containerSmallWidth: 896px;
$paddingDesktop: 0 24px;
$paddingMobile: 0 16px;
$paddingDesktopNarrow: 0 60px;

$topGap: 100px;

// fonts
$title: 'Gilroy', sans-serif;
$textFont: 'Inter', sans-serif;

// miscellaneous 
$boxShadow: 8px 8px 20px 0 rgba(154, 154, 154, 0.5);




